$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #f0f4f7;
$contentMaxWidth: 1200px;
$contentMaxWidth1000: 1000px;
$navHeight: 80px;
$navHeight-m: 50px;
$mainColor: #2e5895;
$mainColor-o: rgba(82, 129, 199, 0.8);
$cBtnColor: #e10000;
$cTextRed: #e10000;
$main-txt: #333;
$lightGray: #8888;
